img {
	
	border: 1px solid #000000;
  border-radius:4px;
 	 height: 350px;

}

.tábla {
	background-color: #545454;
	width: 80%;
	height: 100%;

}
p {
	
	text-align: center;
	font-family: Comic Sans, Serif;
	
}
body {
	background-image: url("mertangolbulldog.jpg");
	 background-position: ;	
    background-repeat: no-repeat;
	background-size: cover;
}
  
  
  
